
[run]
branch = true
parallel = true
source =
  src/{{ python_package_import_name }}
data_file = .coverage
omit =
  src/{{ python_package_import_name }}/__init__.py
  src/{{ python_package_import_name }}/__main__.py
  src/{{ python_package_import_name }}/main_template/*
  tests/__init__.py
  tests/conftest.py

[paths]
equivalent =
  src/
  .venv/lib/*/site-packages/
  .venvs/*/lib/*/site-packages/

[report]
format = text
precision = 2
fail_under = 80
show_missing = true
skip_covered = false
sort = Cover
exclude_lines =
  pragma: no cover
  if TYPE_CHECKING:
  if __name__ == .__main__.:
  class .*\(Protocol\):
  @(abc\.)?abstractmethod

[html]
directory = htmlcov
title = {{ python_package_distribution_name }} Coverage Report
show_contexts = true

[xml]
output = coverage.xml

[json]
output = coverage.json