# editors
.idea/
.cursor/
.vscode/

# python
*.egg-info/
*.py[cod]
.venv/
.venvs/
/build/
/dist/

# tools
.coverage*
/.pdm-build/
/htmlcov/
/site/
uv.lock
{% if latex_paper %}
/paper/build/
/paper/main.pdf
{% endif %}

# cache
.cache/
.pytest_cache/
.mypy_cache/
.ruff_cache/
__pycache__/
