# editors
.idea/
.vscode/
.cursor/

# python
*.egg-info/
*.py[cod]
.venv/
.venvs/
/build/
/dist/

# tools
.coverage*
coverage.xml
/.pdm-build/
/htmlcov/
/docs/htmlcov/
/site/
uv.lock

# cache
.cache/
.pytest_cache/
.mypy_cache/
.ruff_cache/
__pycache__/

.DS_Store
coverage.xml
