"""Configuration package for {{python_package_import_name}}."""

{% if dataset_enabled %}from {{python_package_import_name}}.config.dataset_config import DatasetConfig
{% endif -%}
{% if fastapi_enabled %}from {{python_package_import_name}}.config.fastapi_config import FastAPIConfig
{% endif -%}
from {{python_package_import_name}}.config.main_config import Config

__all__: list[str] = [
    "Config",
{% if dataset_enabled %}    "DatasetConfig",
{% endif %}{% if fastapi_enabled %}    "FastAPIConfig",
{% endif -%}
]
