"""Configuration management for {{python_package_import_name}}."""

from pydantic_settings import BaseSettings, SettingsConfigDict

from {{python_package_import_name}}._version import get_version
{% if dataset_enabled %}from {{python_package_import_name}}.config.dataset_config import DatasetConfig
{% endif -%}
{% if fastapi_enabled %}from {{python_package_import_name}}.config.fastapi_config import FastAPIConfig
{% endif %}


class Config(BaseSettings):
    """Configuration class for loading environment variables.

    This class uses pydantic and pydantic-settings to define and load environment variables.
    It supports loading from .env and .env.prod files (lowest to highest priority),
    and uses field validators for data validation.
    """

    schema_version: str = "1.0.0"
    model_config = SettingsConfigDict(
        env_file=(".env", ".env.dev", ".env.prod"),
        env_file_encoding="utf-8",
    )
    # Configurations for the application
    app_name: str = "{{python_package_import_name}}"
    app_description: str = "{{project_description}}"
    app_author: str = "{{author_fullname}}"
    app_version: str = get_version()
    log_format: str = "%(asctime)s - %(name)s - %(levelname)s - %(message)s"
{% if fastapi_enabled %}
    fastapi_config: FastAPIConfig = FastAPIConfig()
{% endif %}
{% if dataset_enabled %}
    dataset_config: "DatasetConfig" = DatasetConfig()
{% endif %}
