BasedOnStyle: LLVM
Language: Cpp
Standard: {{ cpp_standard }}
ColumnLimit: 80
IndentWidth: 2
TabWidth: 2
UseTab: Never
AccessModifierOffset: -2
AllowShortFunctionsOnASingleLine: All
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
BreakBeforeBraces: Attach
DerivePointerAlignment: false
PointerAlignment: Right
SortIncludes: CaseSensitive
NamespaceIndentation: None
