[build-system]
build-backend = "mesonpy"
requires = [
    "meson>=1.5.0",
    "meson-python>=0.17.0",
    "ninja>=1.11.1",
    "pybind11>=2.13.6",
]

[project]
name = "{{ project_name }}"
version = "0.1.0"
description = "{{ project_description }}"
authors = [{name = "{{ author_fullname }}", email = "{{ author_email }}"}]
license = "{{ copyright_license }}"
license-files = ["LICENSE"]
readme = "README.md"
requires-python = ">=3.11"
dependencies = []

[tool.uv]
package = false
default-groups = ["ci", "docs"]

[tool.meson-python.args]
install = ["--tags=runtime,python-runtime"]

[dependency-groups]
ci = [
    "meson>=1.5.0",
    "meson-python>=0.17.0",
    "ninja>=1.11.1",
    "pybind11>=2.13.6",
]
docs = [
    "markdown-callouts>=0.4.0",
    "markdown-exec>=1.12.0",
    "mkdocs-git-revision-date-localized-plugin>=1.5.0",
    "mkdocs-material>=9.7.0",
    "mkdocs-minify-plugin>=0.8.0",
    "mkdocs-section-index>=0.3.10",
    "properdocs>=1.6.7",
    "pymdown-extensions>=10.12",
]
