{
  "version": "0.2.0",
  "configurations": [
    {
      "name": "Python: current file",
      "type": "debugpy",
      "request": "launch",
      "program": "${file}",
      "console": "integratedTerminal",
      "justMyCode": false,
      "cwd": "${workspaceFolder}",
      "env": { "PYTHONPATH": "${workspaceFolder}/src" }
    },
    {
      "name": "run",
      "type": "debugpy",
      "request": "launch",
      "module": "{{ python_package_import_name }}",
      "console": "integratedTerminal",
      "justMyCode": false,
      "cwd": "${workspaceFolder}",
      "env": { "PYTHONPATH": "${workspaceFolder}/src" }
    },
    {
      "name": "docs",
      "type": "debugpy",
      "request": "launch",
      "module": "properdocs",
      "justMyCode": false,
      "args": ["serve", "-v"],
      "cwd": "${workspaceFolder}",
      "env": { "PYTHONPATH": "${workspaceFolder}/src" }
    },
    {
      "name": "Pytest: current file",
      "type": "debugpy",
      "request": "launch",
      "module": "pytest",
      "args": ["-c", "config/pytest.ini", "${file}", "-vvv"],
      "cwd": "${workspaceFolder}",
      "env": { "PYTHONPATH": "${workspaceFolder}/src" }
    }
  ]
}
