trigger:
- main
- "*.*.x"

stages:
  - stage: SmokeTests
    displayName: "Run Smoke Tests"
    
    variables:
      python.version: '3.12'
      DEPENDENCIES_VERSION: "latest"  # |"pre-release" | "minimum-version"
      AZURE_STORE_SAS: $(AZURE_STORE_SAS)
      UV_CACHE_DIR: $(Agent.TempDirectory)/cache/uv
      base_image: '{{python_distribution_name}}'    

    jobs:
      - job: Install_dependencies_and_run_smoke_tests
        displayName: "Installing dependencies"
        workspace:
          clean: all
        pool:
          vmImage: 'ubuntu-22.04'
        strategy:
          matrix:
            Python3.12:
              python.version: '3.12'       

        steps:
        - checkout: self

        - task: UsePythonVersion@0
          inputs:
            versionSpec: '$(python.version)'
          displayName: 'Use Python $(python.version)'

        - script: |
            curl -LsSf https://astral.sh/uv/install.sh | sh
          displayName: 'Install uv'

        - script: |
            make install
            uv cache dir > uv_cache_dir.txt
            echo "##vso[task.setvariable variable=uv_cache_dir]$(cat uv_cache_dir.txt)"
          displayName: 'Install dependencies'

        - script: |
            if [ -z "$(FolderName)" ]; then
              echo "FolderName is empty. Using default dockerfile - Dockerfile.deploy for building the docker image."
              echo "##vso[task.setvariable variable=folder]$(Build.SourceBranchName).$(default_folder)"
            else
              echo "FolderName is provided: $(FolderName). Using it for building the docker image."
              echo "##vso[task.setvariable variable=folder]$(FolderName)"      
            fi
          displayName: 'Get folder name containing the required dockerfile'
        
        - script: |
            if [ -z "$(ImageName)" ]; then
              echo "ImageName is empty. Using default image name - $(default_image_name)."
              echo "##vso[task.setvariable variable=image_name]$(default_image_name)"
            else
              echo "ImageName is provided: $(ImageName). Using it for building the docker image."
              echo "##vso[task.setvariable variable=image_name]$(ImageName)"      
            fi
          displayName: 'Get name for docker image'
        
        - script: |
            if [ -z "$(ImageTag)" ]; then
              echo "ImageTag is empty. Using default image name - $(default_image_name)."
              echo "##vso[task.setvariable variable=image_tag]$(default_image_tag)"
            else
              echo "ImageTag is provided: $(ImageTag). Using it for building the docker image."
              echo "##vso[task.setvariable variable=image_tag]$(ImageTag)"      
            fi
          displayName: 'Get tag for docker image'

        - script: |
            if [ -z "$(AZURE_STORAGE_CONNECTION_STRING)" ]; then
              echo "ERROR: AZURE_STORAGE_CONNECTION_STRING is empty."
              exit 1
            else
              echo "AZURE_STORAGE_CONNECTION_STRING is provided: $(AZURE_STORAGE_CONNECTION_STRING)."
              echo "##vso[task.setvariable variable=connection_string]$(AZURE_STORAGE_CONNECTION_STRING)"      
            fi
          displayName: 'Get azure storage connection image'

        - task: AzureCLI@2
          displayName: Extracting Image tags from ACR
          inputs:
            azureSubscription: ''
            scriptType: 'bash'
            scriptLocation: 'inlineScript'
            inlineScript: |
              export basetag=$(az acr repository show-tags --name {{container_registry}} --repository {{python_distribution_name}} --top 1 --orderby time_desc --output tsv)
              echo "base tag: ${basetag}"
              
              base_image="{{container_registry}}/{{python_distribution_name}}:${basetag}"
              echo "##vso[task.setvariable variable=base_image]$base_image"
              echo "base image: ${base_image}"

        - script: |
            docker system prune -af
          displayName: "Clean Docker (force)"

        - task: Docker@2
          displayName: Docker_Login
          inputs:
            containerRegistry: '{{container_registry}}'
            command: 'login'

        - script : |
            docker build -t $(image_name):$(image_tag) -f deployment/$(folder)/Dockerfile --build-arg BASE_IMAGE=$(base_image) .
          displayName: 'build deployment image'  
        
        - script: |
            echo '$(System.DefaultWorkingDirectory)'
            make smoke-test
          displayName: 'Run smoke tests'
          env:
            IMAGE: $(image_name):$(image_tag)
            AZURE_STORAGE_CONNECTION_STRING: $(connection_string)

        - script: |
            echo "Deleting local image: $(image_name):$(image_tag)"
            docker rmi $(image_name):$(image_tag) || true
          displayName: 'Delete deployment image from pipeline'


  - stage: UnitTests
    displayName: "Run Unit Tests"
    dependsOn: SmokeTests
    condition: succeeded()
    jobs:
      - job: Install_dependencies_and_run_unit_tests
        displayName: "Installing dependencies"
        workspace:
          clean: all
        pool:
          vmImage: 'ubuntu-22.04'
        strategy:
          matrix:
            Python3.12:
              python.version: '3.12'       

        steps:
        - checkout: self

        - task: UsePythonVersion@0
          inputs:
            versionSpec: '$(python.version)'
          displayName: 'Use Python $(python.version)'

        - script: |
            curl -LsSf https://astral.sh/uv/install.sh | sh
          displayName: 'Install uv'



        - script: |
            make install
            uv cache dir > uv_cache_dir.txt
            echo "##vso[task.setvariable variable=uv_cache_dir]$(cat uv_cache_dir.txt)"
          displayName: 'Install dependencies'

        - script: |
            make check-format
          displayName: 'Check formatting'

        - script: |
            echo '$(System.DefaultWorkingDirectory)'
            make test
          displayName: 'Run unit tests'

        - task: PublishCodeCoverageResults@2
          inputs:
            codeCoverageTool: Cobertura
            summaryFileLocation: 'coverage-unit.xml'
            failIfCoverageEmpty: true
          displayName: 'Publish unit test coverage'

        - script: |
            uv cache prune --ci
          displayName: 'Prune uv cache'             