{% if fastapi_enabled %}{% if include_health_endpoints %}"""Application implementation - Ready controller."""

from fastapi import APIRouter

from {{python_package_import_name}}.app.views import ReadyResponse
from {{python_package_import_name}}.utils.logging import get_logger_console

router = APIRouter()
logger, _ = get_logger_console(__name__)


@router.get(
    "/ready",
    tags=["ready"],
    response_model=ReadyResponse,
    summary="Simple readiness check.",
    status_code=200,
)
async def readiness_check() -> ReadyResponse:
    """Run basic application readiness check.

    If the application is up and running then this endpoint will return
    a simple response with status ok.

    Returns:
        ReadyResponse: Response with status "ok".
    """
    logger.info("Started GET /ready")
    return ReadyResponse(status="ok")
{% else %}
"""Ready controller (health endpoints disabled)."""

from fastapi import APIRouter

router = APIRouter()
{% endif %}
{% else %}
# FastAPI disabled
router = None
{% endif %}
