#include "{{ cpp_namespace }}/{{ cpp_namespace }}.hpp"

#include <pybind11/pybind11.h>

namespace py = pybind11;

PYBIND11_MODULE({{ cpp_namespace }}, module) {
  module.doc() = "Python bindings for this C++ library.";

  module.def("version", &{{ cpp_namespace }}::version, "Return the library version.");
  module.def("add", &{{ cpp_namespace }}::add, py::arg("lhs"), py::arg("rhs"),
             "Add two integers.");
}
