test_{{ cpp_library_name }} = executable(
  'test_{{ cpp_library_name }}',
  'test_{{ cpp_namespace }}.cpp',
  dependencies: [{{ cpp_library_name }}_dep],
)

test('{{ cpp_library_name }}', test_{{ cpp_library_name }})

if get_option('build_python_bindings')
  python_binding_env = environment()
  python_binding_env.prepend('PYTHONPATH', meson.project_build_root())

  test(
    '{{ cpp_library_name }}_python',
    python,
    args: files('test_python_bindings.py'),
    env: python_binding_env,
  )
endif
